


 /* kdfjgdfjdfkgjdfkjiofj89je4uirfuidh9feruihuierjiufnh9jruerhuieruier */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    font-family: sans-serif;
}

.top-head{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 0px;
    
}
.left{
    /* height: 100%; */
    width: 50%;
    text-align: right;
    height: 100%;
}
.right{
    width: 50%;
    height: 100%;   
}
.left a{
    padding-right: 20px;
}
img{
    margin-block: 10px;
}
.left img{
    width: 240px;
}
.right img{
    width: 250px;
}  
.right a{
padding: 20px;
}

/* search */
.middle-head{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    /* margin: 5px auto; */
}
.search-bar{
    display: flex;
    justify-content: center;
    border: 2px solid #068ec3;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    width: 60%;
    background-color:#eee ;
    /* padding-inline:20px ; */
}
/* ::placeholder{
    padding: 10px;
} */
.search{
    width: 100%;
    /* margin-left: 25px; */
    
}
.search input[type="text"]{
    width: 100%;
    padding: 25px 0px;
    border: 2px solid #eee ;
    background-color: #eee;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    padding-left: 20px;
    /* border: 2px solid lightskyblue; */
    
}
.search-button{
    display: flex;
    /* padding-inline:10px; */
    

}
.search-icon{
    padding: 10px 40px 10px 30px;
    
}
.search-button button{
    border: none;
    background-color: rgb(29, 160, 204);
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    width: 100%;
    
}

/* menu bar */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    /* border: 1px solid red; */
}
.menu ul li a{
    text-decoration: none;
    padding: 20px 10px;
    color: black;
    
}
/* show head */

.show-head{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    background-color: darkcyan;
}
.child--head{
    padding: 30px 0px;
}
.col{
    color: white;
}
 /* secton 3 */
 .form{
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: #eee;
    /* height: 100vh; */
 }
 .image{
    width: 30%;
    /* border: 2px solid red;; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }
 .form-container{
    width: 50%;
    /* position: relative; */
    top: 10%;
 }
 .image img{
    width: 200px;
 }

 .section-3{
    display: flex;
    height: 100%;
 }
 
 form p{
    margin: 5px;
 }
 label{
    display: block;
    padding: 8px 0px;
    
 }
 input{
    width: 100%;
    padding: 10px ;
    border-radius: 10px;
 }
 .center{
    text-align: center;
    padding-block: 20px;
 }
 .discription{
    padding-left: 5px;
 }
 .button{
    background-color: lightblue;
    color: black;
    cursor: pointer;
 }
 .button:hover{
    background-color: darkslategray;
    color: white;
    box-shadow: 0px 0px 4px #222;
 }

/* footer */
footer{
    background-color: #555;
    /* height: 70vh; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
.footer{
    margin-block: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 20px;
}
 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li{
    list-style: none;
}
 ul li  a{
    text-decoration: none;
    color: black;
}
.account{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.account ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer-form form input{
    margin-block: 5px;
    /* display: flex; */
}
.last-footer ul{
    display: flex;
    flex-direction: row;
}

 .copy-right{
    text-align: center;
    padding-block: 20px;
    background-color: rgb(231, 238, 238);
 }

 @media( max-width:850px){
    .footer{
        flex-direction: column;
    }
    
    .text-bottom{
        width: 200px;
    }
    .button-bottom{
        width: 100px;
        background-color: #555;
        color: white;

    }
    .section-3{
        flex-direction: column;
    }
    .image{
        width: auto;
        padding-block: 20px;
    }
    .form{
        width: auto;
        padding-block: 20px;
    }
    .top-head{
        flex-direction: column;
        gap: 10px;
        height: 100%;
    }
    /* .left{
        width: auto;
        
    }
    
    .right{
        width: auto;
        text-align: start;
    } */
    .middle-head{
        margin-inline:15px;
        margin-top:0px;
    }
    .search-bar{
        width: 100%;
    }
    .menu ul{
        flex-direction: column;
        text-align: center;
    }
    .left{
        /* height: 100%; */
        width: 100%;
        text-align: center;
        height: 100%;
    }
    .right{
        width: 100%;
        height: 100%;  
        text-align: center; 
    }
    /* .left a{
        padding-right: 20px;
    } */
    img{
        /* margin-block: 10px; */
    }
    .left img{
        width: 200px;
    }
    .right img{
        width: 200px;
    }  
    /* .right a{
    padding: 20px;
    } */
    .search input[type="text"]{
        padding:18px 20px;
    }
 }
    

